{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
{% include "nav.html" %}

{% if 'username' not in session %}
<section id="login" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Login</h1>
            </div>
        </div>
    </div>
</section>

<section id="login-success" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div id="result"></div>
            </div>
        </div>
    </div>
</section>
{% else %}
{% endif %}


{% endblock %}